
/* для изчезающих кругов */
/* .circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: left;
    margin: 50px;
}
#red {
    background-color: rgb(243, 14, 14);
}
#yellow {
    background-color: rgb(235, 252, 0);
}
#green {
    background-color: rgb(50, 252, 0);
} */
/* конец */




/* для игры реакция */

#shape {
    width: 200px;
    height: 200px;
    background-color: rgb(247, 8, 8);
    display: none;
    /* перемещение фигуры будет с помощью позиционирования */
    position: relative;
    top: 100px;
    left: 200px;
}
